{
  "openapi": "3.1.0",
  "info": {
    "title": "Mercenta API — Testnet",
    "version": "1.0.0",
    "description": "Source-derived public API reference. Testnet is a rehearsal with test assets and simulated digital delivery. Catalogue supplier prices in USD are not USDC payment quotes. Generic response objects are explicitly untyped until a stable response schema exists. Never submit passwords, seed phrases or provider keys.",
    "contact": {
      "email": "support@mercenta.xyz"
    }
  },
  "servers": [
    {
      "url": "https://testnet.mercenta.xyz",
      "description": "Arc Testnet — chain 5042002"
    },
    {
      "url": "https://app.mercenta.xyz",
      "description": "Default testnet workspace"
    }
  ],
  "paths": {
    "/api/account/settings": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "get__api_account_settings",
        "summary": "GET /api/account/settings",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false
      },
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "post__api_account_settings",
        "summary": "POST /api/account/settings",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings. Mutating Try it out is disabled in the documentation. Session mutations additionally require same-origin Origin header.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false,
        "x-try-it-disabled": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "theme": {
                    "type": "string",
                    "enum": [
                      "dark",
                      "light",
                      "system"
                    ]
                  }
                },
                "required": [
                  "theme"
                ]
              }
            }
          }
        }
      }
    },
    "/api/account/summary": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "get__api_account_summary",
        "summary": "GET /api/account/summary",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false
      }
    },
    "/api/account/dashboard": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "get__api_account_dashboard",
        "summary": "GET /api/account/dashboard",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "30d",
                "all",
                "custom"
              ],
              "default": "30d"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false
      }
    },
    "/api/account/catalog": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "operationId": "get__api_account_catalog",
        "summary": "GET /api/account/catalog",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false
      }
    },
    "/api/account/orders": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "get__api_account_orders",
        "summary": "GET /api/account/orders",
        "description": "Test USDC only. Delivery is simulated and non-redeemable; never a real-product invoice.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "30d",
                "all",
                "custom"
              ],
              "default": "30d"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false
      },
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "post__api_account_orders",
        "summary": "POST /api/account/orders",
        "description": "Test USDC only. Delivery is simulated and non-redeemable; never a real-product invoice. Mutating Try it out is disabled in the documentation. Session mutations additionally require same-origin Origin header.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false,
        "x-try-it-disabled": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestId": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "productId": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "quantity": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "reference": {
                    "default": "",
                    "type": "string",
                    "maxLength": 100
                  }
                },
                "required": [
                  "requestId",
                  "productId",
                  "quantity"
                ]
              }
            }
          }
        }
      }
    },
    "/api/account/funds": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "get__api_account_funds",
        "summary": "GET /api/account/funds",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "30d",
                "all",
                "custom"
              ],
              "default": "30d"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false
      }
    },
    "/api/account/transactions": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "get__api_account_transactions",
        "summary": "GET /api/account/transactions",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "30d",
                "all",
                "custom"
              ],
              "default": "30d"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false
      }
    },
    "/api/account/deposits": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "post__api_account_deposits",
        "summary": "POST /api/account/deposits",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings. Mutating Try it out is disabled in the documentation. Session mutations additionally require same-origin Origin header.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false,
        "x-try-it-disabled": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestId": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "amount": {
                    "type": "string",
                    "maxLength": 30,
                    "pattern": "^(0|[1-9]\\d*)(\\.\\d{1,6})?$"
                  }
                },
                "required": [
                  "requestId",
                  "amount"
                ]
              }
            }
          }
        }
      }
    },
    "/api/account/deposits/{id}/verify": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "post__api_account_deposits_id_verify",
        "summary": "POST /api/account/deposits/{id}/verify",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings. Mutating Try it out is disabled in the documentation. Session mutations additionally require same-origin Origin header.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false,
        "x-try-it-disabled": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "txHash": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{64}$"
                  }
                },
                "required": [
                  "txHash"
                ]
              }
            }
          }
        }
      }
    },
    "/api/account/keys": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "get__api_account_keys",
        "summary": "GET /api/account/keys",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false
      },
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "post__api_account_keys",
        "summary": "POST /api/account/keys",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings. Mutating Try it out is disabled in the documentation. Session mutations additionally require same-origin Origin header.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false,
        "x-try-it-disabled": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 60
                  },
                  "scopes": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "account:read",
                        "orders:read",
                        "orders:create"
                      ]
                    }
                  },
                  "expiresDays": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 90
                  }
                },
                "required": [
                  "name",
                  "scopes",
                  "expiresDays"
                ]
              }
            }
          }
        }
      }
    },
    "/api/account/keys/{id}/revoke": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "post__api_account_keys_id_revoke",
        "summary": "POST /api/account/keys/{id}/revoke",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings. Mutating Try it out is disabled in the documentation. Session mutations additionally require same-origin Origin header.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false,
        "x-try-it-disabled": true,
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "description": "No JSON fields required by this handler."
              }
            }
          }
        }
      }
    },
    "/api/account/support": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "get__api_account_support",
        "summary": "GET /api/account/support",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false
      }
    },
    "/api/v1/account": {
      "get": {
        "tags": [
          "Integration API"
        ],
        "operationId": "get__api_v1_account",
        "summary": "GET /api/v1/account",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false
      }
    },
    "/api/v1/dashboard": {
      "get": {
        "tags": [
          "Integration API"
        ],
        "operationId": "get__api_v1_dashboard",
        "summary": "GET /api/v1/dashboard",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "30d",
                "all",
                "custom"
              ],
              "default": "30d"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false
      }
    },
    "/api/v1/orders": {
      "get": {
        "tags": [
          "Integration API"
        ],
        "operationId": "get__api_v1_orders",
        "summary": "GET /api/v1/orders",
        "description": "Test USDC only. Delivery is simulated and non-redeemable; never a real-product invoice.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "30d",
                "all",
                "custom"
              ],
              "default": "30d"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false
      },
      "post": {
        "tags": [
          "Integration API"
        ],
        "operationId": "post__api_v1_orders",
        "summary": "POST /api/v1/orders",
        "description": "Test USDC only. Delivery is simulated and non-redeemable; never a real-product invoice. Mutating Try it out is disabled in the documentation. Session mutations additionally require same-origin Origin header.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/account.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false,
        "x-try-it-disabled": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestId": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "productId": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "quantity": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "reference": {
                    "default": "",
                    "type": "string",
                    "maxLength": 100
                  }
                },
                "required": [
                  "requestId",
                  "productId",
                  "quantity"
                ]
              }
            }
          }
        }
      }
    },
    "/api/account/agent/messages": {
      "get": {
        "tags": [
          "Assistant"
        ],
        "operationId": "get__api_account_agent_messages",
        "summary": "GET /api/account/agent/messages",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/agent-chat.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false
      },
      "post": {
        "tags": [
          "Assistant"
        ],
        "operationId": "post__api_account_agent_messages",
        "summary": "POST /api/account/agent/messages",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings. Mutating Try it out is disabled in the documentation. Session mutations additionally require same-origin Origin header.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/agent-chat.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false,
        "x-try-it-disabled": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000
                  }
                },
                "required": [
                  "id",
                  "message"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/account/agent/plans/{id}/confirm": {
      "post": {
        "tags": [
          "Assistant"
        ],
        "operationId": "post__api_account_agent_plans_id_confirm",
        "summary": "POST /api/account/agent/plans/{id}/confirm",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings. Mutating Try it out is disabled in the documentation. Session mutations additionally require same-origin Origin header.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/agent-chat.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false,
        "x-try-it-disabled": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirmed": {
                    "type": "boolean",
                    "const": true
                  }
                },
                "required": [
                  "confirmed"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/account/profit": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "get__api_account_profit",
        "summary": "GET /api/account/profit",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/agent-chat.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false
      }
    },
    "/api/account/profit/quote": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "post__api_account_profit_quote",
        "summary": "POST /api/account/profit/quote",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings. Mutating Try it out is disabled in the documentation. Session mutations additionally require same-origin Origin header.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source": "routes/agent-chat.ts",
        "x-runtime": "testnet",
        "x-real-purchases-enabled": false,
        "x-try-it-disabled": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "gross": {
                    "type": "string",
                    "maxLength": 20,
                    "pattern": "^(0|[1-9]\\d*)(\\.\\d{1,6})?$"
                  },
                  "cogs": {
                    "type": "string",
                    "maxLength": 20,
                    "pattern": "^(0|[1-9]\\d*)(\\.\\d{1,6})?$"
                  },
                  "fees": {
                    "default": "0",
                    "type": "string",
                    "maxLength": 20,
                    "pattern": "^(0|[1-9]\\d*)(\\.\\d{1,6})?$"
                  },
                  "refundReserve": {
                    "default": "0",
                    "type": "string",
                    "maxLength": 20,
                    "pattern": "^(0|[1-9]\\d*)(\\.\\d{1,6})?$"
                  },
                  "taps": {
                    "default": [
                      1000,
                      2500,
                      2500,
                      4000
                    ],
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      },
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    ],
                    "items": false,
                    "minItems": 4,
                    "maxItems": 4
                  },
                  "minMarginBps": {
                    "default": 500,
                    "type": "integer",
                    "minimum": 500,
                    "maximum": 10000
                  }
                },
                "required": [
                  "gross",
                  "cogs"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/account/profit/plan": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "post__api_account_profit_plan",
        "summary": "POST /api/account/profit/plan",
        "description": "Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings. Mutating Try it out is disabled in the documentation. Session mutations additionally require same-origin Origin header.",
        "security": [
          {
            "walletSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "JSON result. Response shape depends on this operation; no universal success envelope is imposed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
[...]
