{"openapi":"3.1.0","info":{"title":"Mercenta API — Mainnet release contract","version":"1.0.0","description":"Mainnet domain is a read-only preview on Arc chain 5042. Real purchases, deposits, agent execution and wallet sessions are CLOSED. Requests are never forwarded to the testnet account backend. The inherited paths describe the intended surface, not enabled real buying. A production checkout contract must be finalized before activation.","contact":{"email":"support@mercenta.xyz"}},"servers":[{"url":"https://mainnet.mercenta.xyz","description":"Preview only — financial API closed"}],"paths":{"/api/account/settings":{"get":{"tags":["Account"],"operationId":"get__api_account_settings","summary":"GET /api/account/settings","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true},"post":{"tags":["Account"],"operationId":"post__api_account_settings","summary":"POST /api/account/settings","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/summary":{"get":{"tags":["Account"],"operationId":"get__api_account_summary","summary":"GET /api/account/summary","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/dashboard":{"get":{"tags":["Account"],"operationId":"get__api_account_dashboard","summary":"GET /api/account/dashboard","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"period","in":"query","required":false,"schema":{"type":"string","enum":["7d","30d","all","custom"],"default":"30d"}},{"name":"from","in":"query","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":25}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/catalog":{"get":{"tags":["Catalogue"],"operationId":"get__api_account_catalog","summary":"GET /api/account/catalog","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/orders":{"get":{"tags":["Account"],"operationId":"get__api_account_orders","summary":"GET /api/account/orders","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"period","in":"query","required":false,"schema":{"type":"string","enum":["7d","30d","all","custom"],"default":"30d"}},{"name":"from","in":"query","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":25}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true},"post":{"tags":["Account"],"operationId":"post__api_account_orders","summary":"POST /api/account/orders","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/funds":{"get":{"tags":["Account"],"operationId":"get__api_account_funds","summary":"GET /api/account/funds","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"period","in":"query","required":false,"schema":{"type":"string","enum":["7d","30d","all","custom"],"default":"30d"}},{"name":"from","in":"query","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":25}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/transactions":{"get":{"tags":["Account"],"operationId":"get__api_account_transactions","summary":"GET /api/account/transactions","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"period","in":"query","required":false,"schema":{"type":"string","enum":["7d","30d","all","custom"],"default":"30d"}},{"name":"from","in":"query","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":25}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/deposits":{"post":{"tags":["Account"],"operationId":"post__api_account_deposits","summary":"POST /api/account/deposits","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/deposits/{id}/verify":{"post":{"tags":["Account"],"operationId":"post__api_account_deposits_id_verify","summary":"POST /api/account/deposits/{id}/verify","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/keys":{"get":{"tags":["Account"],"operationId":"get__api_account_keys","summary":"GET /api/account/keys","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true},"post":{"tags":["Account"],"operationId":"post__api_account_keys","summary":"POST /api/account/keys","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/keys/{id}/revoke":{"post":{"tags":["Account"],"operationId":"post__api_account_keys_id_revoke","summary":"POST /api/account/keys/{id}/revoke","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/support":{"get":{"tags":["Account"],"operationId":"get__api_account_support","summary":"GET /api/account/support","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/v1/account":{"get":{"tags":["Integration API"],"operationId":"get__api_v1_account","summary":"GET /api/v1/account","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/v1/dashboard":{"get":{"tags":["Integration API"],"operationId":"get__api_v1_dashboard","summary":"GET /api/v1/dashboard","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"period","in":"query","required":false,"schema":{"type":"string","enum":["7d","30d","all","custom"],"default":"30d"}},{"name":"from","in":"query","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":25}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/v1/orders":{"get":{"tags":["Integration API"],"operationId":"get__api_v1_orders","summary":"GET /api/v1/orders","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"period","in":"query","required":false,"schema":{"type":"string","enum":["7d","30d","all","custom"],"default":"30d"}},{"name":"from","in":"query","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":100,"default":25}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true},"post":{"tags":["Integration API"],"operationId":"post__api_v1_orders","summary":"POST /api/v1/orders","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/account.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/agent/messages":{"get":{"tags":["Assistant"],"operationId":"get__api_account_agent_messages","summary":"GET /api/account/agent/messages","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/agent-chat.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true},"post":{"tags":["Assistant"],"operationId":"post__api_account_agent_messages","summary":"POST /api/account/agent/messages","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/agent-chat.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/agent/plans/{id}/confirm":{"post":{"tags":["Assistant"],"operationId":"post__api_account_agent_plans_id_confirm","summary":"POST /api/account/agent/plans/{id}/confirm","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/agent-chat.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/profit":{"get":{"tags":["Account"],"operationId":"get__api_account_profit","summary":"GET /api/account/profit","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/agent-chat.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/profit/quote":{"post":{"tags":["Account"],"operationId":"post__api_account_profit_quote","summary":"POST /api/account/profit/quote","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/agent-chat.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/profit/plan":{"post":{"tags":["Account"],"operationId":"post__api_account_profit_plan","summary":"POST /api/account/profit/plan","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/agent-chat.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/agent/plans/{id}/wallet":{"post":{"tags":["Assistant"],"operationId":"post__api_account_agent_plans_id_wallet","summary":"POST /api/account/agent/plans/{id}/wallet","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/agent-chat.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/agent/plans/{id}/verify":{"post":{"tags":["Assistant"],"operationId":"post__api_account_agent_plans_id_verify","summary":"POST /api/account/agent/plans/{id}/verify","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/agent-chat.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/operator/runs":{"get":{"tags":["Agent operator"],"operationId":"get__api_account_operator_runs","summary":"GET /api/account/operator/runs","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/agent-operator.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true},"post":{"tags":["Agent operator"],"operationId":"post__api_account_operator_runs","summary":"POST /api/account/operator/runs","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/agent-operator.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/operator/runs/{id}":{"get":{"tags":["Agent operator"],"operationId":"get__api_account_operator_runs_id_","summary":"GET /api/account/operator/runs/{id}","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/agent-operator.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/operator/runs/{id}/advance":{"post":{"tags":["Agent operator"],"operationId":"post__api_account_operator_runs_id_advance","summary":"POST /api/account/operator/runs/{id}/advance","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/agent-operator.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/operator/runs/{id}/confirm":{"post":{"tags":["Agent operator"],"operationId":"post__api_account_operator_runs_id_confirm","summary":"POST /api/account/operator/runs/{id}/confirm","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/agent-operator.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/operator/runs/{id}/cancel":{"post":{"tags":["Agent operator"],"operationId":"post__api_account_operator_runs_id_cancel","summary":"POST /api/account/operator/runs/{id}/cancel","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/agent-operator.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/operator/runs/{id}/resume":{"post":{"tags":["Agent operator"],"operationId":"post__api_account_operator_runs_id_resume","summary":"POST /api/account/operator/runs/{id}/resume","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/agent-operator.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/supplier-catalog":{"get":{"tags":["Account"],"operationId":"get__api_account_supplier_catalog","summary":"GET /api/account/supplier-catalog","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/assistant-preview.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/agent/preview":{"post":{"tags":["Assistant"],"operationId":"post__api_account_agent_preview","summary":"POST /api/account/agent/preview","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/assistant-preview.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/auth/nonce":{"post":{"tags":["Authentication"],"operationId":"post__api_auth_nonce","summary":"POST /api/auth/nonce","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/auth.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/auth/verify":{"post":{"tags":["Authentication"],"operationId":"post__api_auth_verify","summary":"POST /api/auth/verify","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/auth.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/catalog-checkout/quote":{"post":{"tags":["Test checkout"],"operationId":"post__api_account_catalog_checkout_quote","summary":"POST /api/account/catalog-checkout/quote","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/catalog-test-checkout.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/catalog-checkout/quotes/{id}":{"get":{"tags":["Test checkout"],"operationId":"get__api_account_catalog_checkout_quotes_id_","summary":"GET /api/account/catalog-checkout/quotes/{id}","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/catalog-test-checkout.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/catalog-checkout/confirm":{"post":{"tags":["Test checkout"],"operationId":"post__api_account_catalog_checkout_confirm","summary":"POST /api/account/catalog-checkout/confirm","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/catalog-test-checkout.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/orders/{id}/delivery":{"get":{"tags":["Account"],"operationId":"get__api_account_orders_id_delivery","summary":"GET /api/account/orders/{id}/delivery","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/catalog-test-checkout.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/circle/balances":{"get":{"tags":["Circle Gateway"],"operationId":"get__api_account_circle_balances","summary":"GET /api/account/circle/balances","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/circle-agent.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/circle/status":{"get":{"tags":["Circle Gateway"],"operationId":"get__api_account_circle_status","summary":"GET /api/account/circle/status","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/circle-agent.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/circle/payments":{"get":{"tags":["Circle Gateway"],"operationId":"get__api_account_circle_payments","summary":"GET /api/account/circle/payments","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/circle-agent.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true},"post":{"tags":["Circle Gateway"],"operationId":"post__api_account_circle_payments","summary":"POST /api/account/circle/payments","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/circle-agent.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/circle/payments/{id}":{"get":{"tags":["Circle Gateway"],"operationId":"get__api_account_circle_payments_id_","summary":"GET /api/account/circle/payments/{id}","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/circle-agent.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/circle/payments/{id}/confirm":{"post":{"tags":["Circle Gateway"],"operationId":"post__api_account_circle_payments_id_confirm","summary":"POST /api/account/circle/payments/{id}/confirm","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/circle-agent.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/circle/payments/{id}/reconcile":{"post":{"tags":["Circle Gateway"],"operationId":"post__api_account_circle_payments_id_reconcile","summary":"POST /api/account/circle/payments/{id}/reconcile","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/circle-agent.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/circle/payments/{id}/recover-resource":{"post":{"tags":["Circle Gateway"],"operationId":"post__api_account_circle_payments_id_recover_resource","summary":"POST /api/account/circle/payments/{id}/recover-resource","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/circle-agent.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/circle/payments/{id}/resource":{"get":{"tags":["Circle Gateway"],"operationId":"get__api_account_circle_payments_id_resource","summary":"GET /api/account/circle/payments/{id}/resource","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/circle-agent.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/circle/payments/{id}/evidence":{"get":{"tags":["Circle Gateway"],"operationId":"get__api_account_circle_payments_id_evidence","summary":"GET /api/account/circle/payments/{id}/evidence","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/circle-agent.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/workflows":{"get":{"tags":["Commerce evidence"],"operationId":"get__api_account_workflows","summary":"GET /api/account/workflows","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/commerce.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true},"post":{"tags":["Commerce evidence"],"operationId":"post__api_account_workflows","summary":"POST /api/account/workflows","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/commerce.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/workflows/{id}":{"get":{"tags":["Commerce evidence"],"operationId":"get__api_account_workflows_id_","summary":"GET /api/account/workflows/{id}","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/commerce.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/workflows/{id}/confirm":{"post":{"tags":["Commerce evidence"],"operationId":"post__api_account_workflows_id_confirm","summary":"POST /api/account/workflows/{id}/confirm","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/commerce.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/workflows/{id}/cancel":{"post":{"tags":["Commerce evidence"],"operationId":"post__api_account_workflows_id_cancel","summary":"POST /api/account/workflows/{id}/cancel","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/commerce.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/sales":{"get":{"tags":["Commerce evidence"],"operationId":"get__api_account_sales","summary":"GET /api/account/sales","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/commerce.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true},"post":{"tags":["Commerce evidence"],"operationId":"post__api_account_sales","summary":"POST /api/account/sales","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/commerce.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/sales/{id}":{"get":{"tags":["Commerce evidence"],"operationId":"get__api_account_sales_id_","summary":"GET /api/account/sales/{id}","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/commerce.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/sales/{id}/payment":{"post":{"tags":["Commerce evidence"],"operationId":"post__api_account_sales_id_payment","summary":"POST /api/account/sales/{id}/payment","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/commerce.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/sales/{id}/allocation":{"post":{"tags":["Commerce evidence"],"operationId":"post__api_account_sales_id_allocation","summary":"POST /api/account/sales/{id}/allocation","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/commerce.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/evidence/workflows/{id}":{"get":{"tags":["Commerce evidence"],"operationId":"get__api_account_evidence_workflows_id_","summary":"GET /api/account/evidence/workflows/{id}","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/commerce.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/evidence/sales/{id}":{"get":{"tags":["Commerce evidence"],"operationId":"get__api_account_evidence_sales_id_","summary":"GET /api/account/evidence/sales/{id}","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/commerce.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/health":{"get":{"tags":["Account"],"operationId":"get__api_health","summary":"GET /api/health","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/status":{"get":{"tags":["Account"],"operationId":"get__api_status","summary":"GET /api/status","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/catalog":{"get":{"tags":["Catalogue"],"operationId":"get__api_catalog","summary":"GET /api/catalog","description":"Public catalogue metadata. Prices are indicative USD, not payment quotes. Responses may be cached snapshots. Query id returns a product, view=browse returns compact tuples.","security":[],"parameters":[{"name":"id","in":"query","schema":{"type":"string","maxLength":200},"description":"Return one public catalogue product."},{"name":"view","in":"query","schema":{"type":"string","enum":["browse"]},"description":"Compact catalogue tuples; prices USD, purchasingEnabled false."}],"responses":{"200":{"description":"JSON result. Response shape depends on this operation; no universal success envelope is imposed.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"400":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-source":"web/src/app/api/catalog/route.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":true,"x-try-it-disabled":true}},"/api/agent/quota":{"get":{"tags":["Assistant"],"operationId":"get__api_agent_quota","summary":"GET /api/agent/quota","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"deprecated":true,"x-enabled":false,"x-try-it-disabled":true}},"/api/agent/chat":{"post":{"tags":["Assistant"],"operationId":"post__api_agent_chat","summary":"POST /api/agent/chat","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"deprecated":true,"x-enabled":false}},"/api/liquidity/summary":{"get":{"tags":["Finance sandbox"],"operationId":"get__api_liquidity_summary","summary":"GET /api/liquidity/summary","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/liquidity/earn/vaults":{"get":{"tags":["Finance sandbox"],"operationId":"get__api_liquidity_earn_vaults","summary":"GET /api/liquidity/earn/vaults","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/liquidity/earn/project":{"post":{"tags":["Finance sandbox"],"operationId":"post__api_liquidity_earn_project","summary":"POST /api/liquidity/earn/project","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/liquidity/earn/deposit":{"post":{"tags":["Finance sandbox"],"operationId":"post__api_liquidity_earn_deposit","summary":"POST /api/liquidity/earn/deposit","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/liquidity/earn/withdraw":{"post":{"tags":["Finance sandbox"],"operationId":"post__api_liquidity_earn_withdraw","summary":"POST /api/liquidity/earn/withdraw","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/liquidity/borrow/market":{"get":{"tags":["Finance sandbox"],"operationId":"get__api_liquidity_borrow_market","summary":"GET /api/liquidity/borrow/market","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/liquidity/borrow/preview":{"post":{"tags":["Finance sandbox"],"operationId":"post__api_liquidity_borrow_preview","summary":"POST /api/liquidity/borrow/preview","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/liquidity/borrow/originate":{"post":{"tags":["Finance sandbox"],"operationId":"post__api_liquidity_borrow_originate","summary":"POST /api/liquidity/borrow/originate","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/liquidity/borrow/repay":{"post":{"tags":["Finance sandbox"],"operationId":"post__api_liquidity_borrow_repay","summary":"POST /api/liquidity/borrow/repay","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/liquidity/onramp/session":{"post":{"tags":["Finance sandbox"],"operationId":"post__api_liquidity_onramp_session","summary":"POST /api/liquidity/onramp/session","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/liquidity/onramp/onDepositSettled":{"post":{"tags":["Finance sandbox"],"operationId":"post__api_liquidity_onramp_onDepositSettled","summary":"POST /api/liquidity/onramp/onDepositSettled","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/liquidity/unified-balance":{"get":{"tags":["Finance sandbox"],"operationId":"get__api_liquidity_unified_balance","summary":"GET /api/liquidity/unified-balance","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/liquidity/swap":{"post":{"tags":["Finance sandbox"],"operationId":"post__api_liquidity_swap","summary":"POST /api/liquidity/swap","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/approvals":{"get":{"tags":["Account"],"operationId":"get__api_approvals","summary":"GET /api/approvals","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/approvals/{id}/decide":{"post":{"tags":["Account"],"operationId":"post__api_approvals_id_decide","summary":"POST /api/approvals/{id}/decide","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/orders":{"post":{"tags":["Account"],"operationId":"post__api_orders","summary":"POST /api/orders","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/orders/{id}":{"get":{"tags":["Account"],"operationId":"get__api_orders_id_","summary":"GET /api/orders/{id}","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/orders/{id}/verify":{"post":{"tags":["Account"],"operationId":"post__api_orders_id_verify","summary":"POST /api/orders/{id}/verify","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/orders/{id}/reveal":{"post":{"tags":["Account"],"operationId":"post__api_orders_id_reveal","summary":"POST /api/orders/{id}/reveal","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","pattern":"^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/index.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/catalog-preview":{"get":{"tags":["Catalogue"],"operationId":"get__api_account_catalog_preview","summary":"GET /api/account/catalog-preview","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/workspace.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/workspace":{"get":{"tags":["Budget & onboarding"],"operationId":"get__api_account_workspace","summary":"GET /api/account/workspace","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/workspace.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/workspace/profile":{"post":{"tags":["Budget & onboarding"],"operationId":"post__api_account_workspace_profile","summary":"POST /api/account/workspace/profile","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/workspace.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/workspace/budget":{"post":{"tags":["Budget & onboarding"],"operationId":"post__api_account_workspace_budget","summary":"POST /api/account/workspace/budget","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/workspace.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/journal":{"get":{"tags":["Financial journal"],"operationId":"get__api_account_journal","summary":"GET /api/account/journal","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[{"name":"page","in":"query","required":false,"schema":{"default":1,"type":"integer","minimum":1,"maximum":200}}],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/workspace.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true},"post":{"tags":["Financial journal"],"operationId":"post__api_account_journal","summary":"POST /api/account/journal","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/workspace.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/journal/coach":{"post":{"tags":["Financial journal"],"operationId":"post__api_account_journal_coach","summary":"POST /api/account/journal/coach","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/workspace.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/account/service-availability":{"get":{"tags":["Account"],"operationId":"get__api_account_service_availability","summary":"GET /api/account/service-availability","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/workspace.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/earn-discovery":{"get":{"tags":["Account"],"operationId":"get__api_account_earn_discovery","summary":"GET /api/account/earn-discovery","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/workspace.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/account/finance-capabilities":{"get":{"tags":["Account"],"operationId":"get__api_account_finance_capabilities","summary":"GET /api/account/finance-capabilities","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"routes/workspace.ts","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}},"/api/network":{"get":{"tags":["Account"],"operationId":"get__api_network","summary":"GET /api/network","description":"Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings.","security":[],"parameters":[],"responses":{"200":{"description":"JSON result. Response shape depends on this operation; no universal success envelope is imposed.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"400":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-source":"web route","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":true,"x-try-it-disabled":true}},"/api/openapi":{"get":{"tags":["Account"],"operationId":"get__api_openapi","summary":"GET /api/openapi","description":"Wallet sessions are host-only. Account operations require verified wallet ownership. Monetary strings use six fractional decimals; amountUnits are integer micro-USDC strings.","security":[],"parameters":[],"responses":{"200":{"description":"JSON result. Response shape depends on this operation; no universal success envelope is imposed.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"400":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Request rejected: invalid input, session, ownership, origin, configured capability, budget or idempotency conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-source":"web route","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":true,"x-try-it-disabled":true}},"/api/auth/logout":{"post":{"tags":["Authentication"],"operationId":"post__api_auth_logout","summary":"POST /api/auth/logout","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"web route","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-try-it-disabled":true,"x-enabled":false}},"/api/me":{"get":{"tags":["Account"],"operationId":"get__api_me","summary":"GET /api/me","description":"CLOSED. This path is not a real-buy endpoint. No invoice, debit, agent execution or testnet forwarding.","security":[],"parameters":[],"responses":{"503":{"description":"Mainnet release gate. No testnet fallback and no financial operation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MainnetClosed"},"example":{"code":"MAINNET_CHECKOUT_NOT_ENABLED","network":"mainnet","chainId":5042,"realPurchasesEnabled":false}}}}},"x-source":"web route","x-runtime":"mainnet","x-real-purchases-enabled":false,"x-enabled":false,"x-try-it-disabled":true}}},"components":{"securitySchemes":{"walletSession":{"type":"apiKey","in":"cookie","name":"mercenta_session","description":"HttpOnly, host-only verified wallet session. Obtain through wallet challenge in the app. No session carry across networks."},"bearerAuth":{"type":"http","scheme":"bearer","description":"Mercenta integration key generated in Account. /api/v1 supports account, dashboard and orders with key scopes; testnet only."}},"schemas":{"Error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}},"additionalProperties":true},"MainnetClosed":{"type":"object","properties":{"code":{"const":"MAINNET_CHECKOUT_NOT_ENABLED"},"network":{"const":"mainnet"},"chainId":{"const":5042},"realPurchasesEnabled":{"const":false}}}}},"x-network":"mainnet","x-chain-id":5042,"x-coverage":{"sourceRoutes":100,"documentedOperations":102,"excluded":[{"path":"/api/x402/margin-report","method":"get","reason":"Backend-only; not exposed by the public web proxy."},{"path":"/api/launch-readiness","method":"get","reason":"Backend-only; not exposed by the public web proxy."}]},"x-schema-notes":"Input constraints are generated from Zod definitions. Runtime business rules (budget sums, reserves, stock, idempotency and ownership) are enforced by the server. Generic response schemas are not a typed SDK guarantee.","x-real-purchases-enabled":false,"x-release-state":"closed"}